<div style="max-width: 18rem;">
    </div class="row">
        <div class="col">
            <p>{{ name }}</p>
            <p>Price: {{ price }}</p>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">+</button>
        </div>
    </div>
</div>
